/* Sections List */
.sl-container {
    position: absolute;
    top: 5vh; left: 0;
    width: 14%;
    text-align: right;

    display: flex; flex-direction: column;
    gap: 10px 0;
}

.sl-header {
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: underline;
    color: var(--primaryColor);
}

.sl-list {
    display: flex; flex-direction: column;
    gap: 5px 0;
    font-size: 18px;
}

.sl-list li {
    cursor: pointer;
    transition: var(--trs_SHORT);
}
.sl-list li:hover {
    color: var(--secondaryColor);
}


.cb-hover-area {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 12vh;
    background: linear-gradient(180deg, rgba(3,11,11,1) 0%, rgba(0,0,0,0) 100%);

    display: none;
}

.cb-container {
    position: sticky;
    width: 70%;
    margin: 2vh auto 0 auto;
    padding: 5vh 0;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.316);
    border: 1px solid var(--secondaryColor);
    border-radius: 25px;

    box-shadow: var(--shd_MD);
}
.cb-container select,
.cb-container button {
    background: none;
    border: 1px inset var(--secondaryColor);
    border-radius: 15px;
    color: var(--textColor);
    padding: 10px 25px;
}