.ab-card {
    margin: 2rem auto;
}

.ab-card-content {
    display: flex;
    padding: 2rem;
    width: 100%;
}

.ab-card:nth-child(1) {
    width: 75%;
}

.ab-card h2 {
    font-size: 32px;
}
.ab-card h3{
    font-size: 24px;
}


.img-coin {
    border-radius: 100%;
    border: 2px solid var(--primaryColor);
}